body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", "Times New Roman", serif;
    height: 100vh;
    
    position: relative;
}

.container {
    width: 60%;
    margin: 80px auto;
    padding: 50px;

    /* efeito moderno */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    text-align: center;
    color: white;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito ao passar o mouse */
.container:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.3em;
    margin-bottom: 25px;
    color: #5a3e36;
}

p {
    font-size: 1.2em;
    line-height: 1.7;
    margin: 15px 0;
}

.nome {
    font-weight: bold;
    color: #b22222;
    font-size: 1.4em;
    border-bottom: 2px solid #b22222;
    padding: 2px 6px;
    background-color: #fff5f5;
    border-radius: 4px;
}

.mensagem {
    margin-top: 30px;
    font-size: 1.4em;
    font-style: italic;
    color: #6b4c4c;
}

.container::before {
    content: "❦";
    display: block;
    font-size: 2em;
    color: #b22222;
    margin-bottom: 15px;
}

.botao-amor {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 1em;
    border: none;
    background-color: #b22222;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}


/* Camada RGB animada */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(270deg, red, green, blue);
    background-size: 600% 600%;
    animation: rgbFundo 6s ease infinite;

    opacity: 4.0;
    z-index: -1;
}

@keyframes rgbFundo {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 100%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 0%; }
    100% { background-position: 0% 50%; }
    }
